:root {
    --blue-dark-blue: #051D3B;
    --blue-blue-300: #5081FB;
    --blue-blue-200: #7BA4FC;
    --blue-blue-100: #96B9FD;
    --shadow: #666666;

    --ff: 'Inter', sans-serif;

    /*--fw-1: 400;
    --fw-2: 700;

    --fs-1: 21px;*/
    --fs-2: 16px;
    /*--fs-3: 12px;
    
    --lh-1: 32px;
    --lh-2: 24px;
    --lh-3: 18px;*/
}

html {
    font-family: var(--ff);
    font-size: var(--fs-2);
    padding: 2rem;
}

body {
    background-color: var(--blue-dark-blue);
}