@import '../abstract/variables';

.btn-save {
    @include border-bradius(none);
    background-color: $blue-300;
    color: $blue-dark-blue;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    
    &:hover {
        background-color: $blue-200;
    }
    
    &:focus {
        background-color: $blue-100;
    }
}