@import '../abstract/variables';

.code-area {
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    color: $lighter;
    padding: 1rem;
    border: 2rem solid $blue-400;
    border-radius: 0.5rem;
    font-size: .875rem;

    .circles {
        display: flex;
        justify-content: space-between;
        width: 3.25rem;
        
        .red-circle {
            @include circle($red);
        }

        .yellow-circle {
            @include circle($yellow);
        }

        .green-circle {
            @include circle($green);
        }
    }

    code {
        color: $lighter;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.875rem;
        line-height: 1.15rem;
    }
}