@import '../abstract/variables';

.code-editor {
    @include flex-column-gap(2rem);

    .code-area {
        gap: 1.5rem;
    }

    button {
        @extend %body;
        background-color: rgba(80, 129, 251, 0.08);
        padding: 1rem;
        border: none;
        border-radius: 8px;
    }
    
}