@import '../abstract/variables';

.code-editor {
    @include flex-column-gap(2rem);
    margin-top: 3.125rem;

    .code-area {
        gap: 1.5rem;
    }

    button {
        @extend %body;
        @include border-bradius(none);
        background-color: rgba(80, 129, 251, 0.08);
        padding: 1rem;
    }
    
}