@import '../abstract/variables';

.code-area {
    @include border-bradius(2rem solid $blue-400);
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    color: $lighter;
    padding: 1rem;
    font-size: .875rem;

    .circles {
        display: flex;
        justify-content: space-between;
        width: 3.25rem;
        
        .red-circle {
            @include circle($red);
        }

        .yellow-circle {
            @include circle($yellow);
        }

        .green-circle {
            @include circle($green);
        }
    }

    code {
        @include font-type(.875rem, 1.5rem);
        font-family: 'Roboto Mono', monospace;
    }
}