@import '../abstract/variables';

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;

    .logo {
        @extend %flex-acenter;
    }

    .header-elements {
        @extend %flex-acenter;
        gap: 2rem;
        
        .search {
            input {
                display: none; //TEMPORARIAMENTE
            }
        }
    
        .user {
            display: none; //TEMPORARIAMENTE
        }
    
        .fa-solid {
            color: $lighter;
        }
    }

    @media (min-width: 460px){
        padding: 0 0;
        gap: 2.5rem;
        
        .header-elements {
            display: flex;
            flex-grow: 1;
            gap: 2.5rem;

            .search {
                display: flex;
                flex-grow: 1;

                i {
                    display: none;
                }

                input {
                    display: flex;
                    width: 100%;
                    height: 3.5rem;
                }  
            }
        }  
    }
    
    @media (min-width: 900px) {
        @include grid-desktop(19% 81%);
        
        .header-elements {
            .burger-menu {
                display: none;
            }

            .user-header {
                display: flex;
            }
        }
    }
}