@import '../abstract/variables';

.menu {
    background-color: $blue-gray;
    align-self: flex-end;
    width: 15.875rem;
    padding: 1.5rem;
    border-radius: 0.5rem;

    h4 {
        @extend %sidebar-title;
        display: none;
    }

    ul {
        li {
            a { 
                color: $lighter;
                text-decoration: none;

                i {
                    padding: .75rem;
                    border-radius: .5rem;
                } 
            }
        }
        
    }

    .menu-editor {
        i {
            background-color: $blue-300;
        }
        
    }
}