@import '../abstract/variables';

.project {
    h2 {
        @extend %title;
    }

    p {
        @extend %body;
    }

    .code-area{
        @include border-bradius(1.5rem solid $blue-400);
    }

    .project-info {
        .comment-like {
            display: flex;
            gap: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}