@import '../abstract/variables';

.project {
    .code-area{
        @include border-bradius(1.5rem solid $blue-400);
    }

    .project-info {
        h2 {
            @extend %title;
        }

        p {
            @extend %body;
        }

        .project-description {
            opacity: 0.8;
        }

        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: .5rem;

        .project-user-info {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        
            .comment-like {
                display: flex;
                gap: 1rem;

                div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }
        
    }
}