@import '../abstract/variables';

.your-project {
    @include flex-column-gap(1rem);
    margin-top: 2.5rem;

    h4 {
        @extend %sidebar-title;
    }

    input:last-child {
        height: 5rem;
    }
}