@import './variables';

html {
    padding: 1rem;
    font-family: $ff;
    font-size: 16px;
    
    @media (min-width:460px) {
        padding: 2rem;
    }
}

body {
    background-color: $blue-dark-blue;

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .main-editor {
        @media (min-width: 900px) {
            @include grid-desktop(21% 52% 21%);
            padding-top: 2.5rem;
        } 
    }

    .main-comunidade {
        @media (min-width: 900px) {
            @include grid-desktop(21% auto);
            padding-top: 2.5rem;
        }
    }
}

input, select {
    @include border-bradius(none);
    background: rgba(255, 255, 255, 0.16);
    padding: 0.875rem;

    &:hover {
        background: (255, 255, 255, 0.24);
    }

    &:focus{
        outline: transparent;
    }
}

input {
    @extend %body; 

    &:hover {
        background: rgba(255, 255, 255, 0.24);     
    }

    &::placeholder {
        color: #ffffffa3;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

select {
    color: #ffffffa3;
    font-size: 1rem;
    line-height: 1.5rem;
}

