@import './variables';

html {
    padding: 1rem;
    font-family: $ff;
    font-size: 16px;
    
    @media (min-width:460px) {
        padding: 2rem;
    }
}

body {
    background-color: $blue-dark-blue;

    main {
        display: flex;
        flex-direction: column;

        @media (min-width: 900px) {
            @include grid-desktop(19% 52% 19%);
            padding-top: 2.5rem;
        } 

        
    }
}

input, select {
    background: rgba(255, 255, 255, 0.16);
    padding: 0.875rem;
    @include border-bradius(none);
}

input::placeholder, select {
    color: #ffffffa3;
    font-size: 1rem;
    line-height: 1.5rem;
}