$blue-dark-blue: #051D3B;
$blue-400: #6BD1FF;
$blue-300: #5081FB;
$blue-200: #7BA4FC;
$blue-100: #96B9FD;
$blue-gray: #2D415B;
$green: #27C93F;
$red: #FF5F56;
$yellow: #FFBD2E;
$dark-gray: #141414;
$shadow: #666666;
$lighter: #fff;

$ff: 'Inter', sans-serif;

@mixin font-type($fs, $lh, $fw) {
    color: $lighter;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}

%title {
    @include font-type(1.3rem, 2rem, 700);
}

%body {
    @include font-type(1rem, 1.5rem, 400);
}

%sidebar-title {
    @include font-type(.75rem, 1.125rem, 400);
    letter-spacing: .30rem;
}

@mixin size-w-h($w, $h) {
    width: $w;
    height: $h;
}


@mixin flex-column-gap($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

%flex-acenter {
    display: flex;
    align-items: center;
}

@mixin grid-desktop($template-c) {
    display: grid;
    grid-template-columns: $template-c;
    gap: 3%;
}


@mixin border-bradius($b) {
    border: $b;
    border-radius: .5rem;
}

@mixin circle($color) {
    @include size-w-h(.75rem, .75rem);
    background-color: $color;
    border-radius: 50%;
}